body {
  background-color: black;
  font-family: 'Passion One', cursive ;font-size: 22px;
}

.App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

.title {
  font-size: 100px;
  float: left;
}

.subtitle {
  float: left;
  padding-top: 65px;
  margin-left: 4px;
}

.nav-links {
  float: right;
  padding-top: 55px;
}

a {
  margin-left: 8px;
  color: #FF1493;
  text-decoration: none;
  border: 0.5px solid #FF1493;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
}

a:hover {
  color: white;
}

header {
  color: white;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 320px;
  -moz-column-width: 320px;
  column-width: 320px;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-fill: auto;
  column-fill: auto;

  @media (min-width: 40em) {
  margin: .5em 0 .5em -.5em;
  }
}

.main {
  width: 100%;
}

.login, .register, .profile {
  width: 100%;
  background-color: black;
  color: white;
  overflow: auto;
}

.search-bar {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

input {
  padding: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  border-radius: 3px;
  width: 100%;
  box-sizing : border-box;
}

.img {
  display: flex;
  position:relative;
  background-color: black;
  border: 2px solid transparent;
  border-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	border-image-slice: 1;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  clear: both;
  overflow: hidden;
  box-sizing : border-box;

  @media (min-width: 40em) {
    flex: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #fff;
  visibility: hidden;

}

.img:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.add {
  color: #FF1493;
  padding-top: 7px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 7px;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 50%;
  background: white;
  border: 1px solid #FF1493;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  float: left;
}

.heart:before {
  content: '\2665';
  color: red;
  font-size: 30px;
  width: 40px;
  margin-top: 8px;
  margin-right: 12px;
  display: block;
  float: right;
}
