.App {
  text-align: center;
  background-color: black;
}

.gallery {
  column-count: 4;
  column-gap: 1em;
  @media (min-width: 40em) {
    margin: .5em 0 .5em -.5em;
  }
}

.search-bar {
  background-color: grey;
}

.img {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;

  @media (min-width: 40em) {
    flex: 0;
  }
}
